Repository ullbergm/object-lease-controller: changes, and which pre-commit hooks are due for each by the changed paths.
All: shellcheck, codespell

.pre-commit-config.yaml:

repos:
    - repo: https://github.com/pre-commit/pre-commit-hooks
      rev: v3.2.0
      hooks:
          - id: trailing-whitespace
          - id: end-of-file-fixer
          - id: check-yaml
            args: [--allow-multiple-documents]
            # Don't try to validate Helm chart templates â€” they contain Go
            # templating and are not valid YAML until rendered.
            exclude: ^object-lease-operator/helm-charts/
          - id: check-json
          - id: detect-private-key
          - id: no-commit-to-branch

    - repo: local
      hooks:
          - id: shellcheck
            name: Shellcheck
            entry: shellcheck -x
            language: system
            files: ^(scripts/|run.sh$|.*\.sh$)

          - id: gitleaks
            name: Gitleaks (secrets scanner)
            entry: gitleaks detect
            pass_filenames: false
            always_run: true
            language: system

          - id: codespell
            name: Codespell (spell check docs)
            entry: codespell
            language: system
            # Only run on docs and README to avoid noisy suggestions in tests/code
            files: ^(README.md|docs/|object-lease-console-plugin/)

          - id: make-vet
            name: Run `go vet`
            entry: make vet
            language: system
            pass_filenames: false
            always_run: true

          - id: make-fmt
            name: Run repository formatter (go fmt)
            entry: make fmt
            language: system
            pass_filenames: false
            always_run: true

          - id: make-lint
            name: Run repository linter
            entry: make lint
            language: system
            pass_filenames: false
            always_run: true

feat: Enhance PR check workflow by adding codespell and gitleaks installation
  .github/workflows/pr-check.yml
Due: none

fix: Add sudo to apt-get commands in PR check workflow for proper permissions
  .github/workflows/pr-check.yml
Due: none

refactor: Simplify golangci-lint installation steps in PR check workflow
  .github/workflows/pr-check.yml
Due: none

fix: Remove unnecessary blank line in PR check workflow
  .github/workflows/pr-check.yml
Due: none

feat: Add support for environment variable secrets in cleanup jobs
  Makefile
  cmd/main.go
  examples/cleanup/README.md
  examples/cleanup/backup-to-s3.yaml
  examples/cleanup/notify-webhook.yaml
  pkg/controllers/lease_controller.go
  pkg/util/cleanup_job.go
  pkg/util/cleanup_job_test.go
Due: none

Add cleanup job support for pre-deletion hooks via Kubernetes Jobs (#48)
  .devcontainer/Dockerfile
  .devcontainer/post-install.sh
  .github/workflows/pr-check.yml
  .gitleaks.toml
  .pre-commit-config.yaml
  Makefile
  README.md
  cmd/main.go
  examples/cleanup/README.md
  examples/cleanup/backup-to-s3.yaml
  examples/cleanup/cleanup-related-resources.yaml
  examples/cleanup/notify-webhook.yaml
  go.mod
  go.sum
  object-lease-operator/helm-charts/leasecontroller/templates/role.yaml
  pkg/controllers/lease_controller.go
  pkg/controllers/lease_controller_test.go
  pkg/metrics/metrics.go
  pkg/util/cleanup_job.go
  pkg/util/cleanup_job_test.go
Due: shellcheck, codespell

feat(tests): Enhance test coverage for health checks and main logic execution
  cmd/main.go
  cmd/main_test.go
Due: none

ci: add fuzz tests and workflows
  .github/workflows/pr-fuzz.yml
  .github/workflows/schedule-fuzz.yml
  Makefile
  pkg/util/build_env_fuzz_test.go
  pkg/util/cleanup_job_fuzz_test.go
  pkg/util/duration_fuzz_test.go
  pkg/util/object_transform_fuzz_test.go
Due: none

feat(fuzz): add fuzz tests for leader election and lease relevant annotations
  Makefile
  cmd/leader_election_fuzz_test.go
  pkg/controllers/lease_controller_fuzz_test.go
Due: none

feat(tests): enhance fuzz tests with additional edge cases for various configurations
  cmd/leader_election_fuzz_test.go
  pkg/controllers/lease_controller_fuzz_test.go
  pkg/util/build_env_fuzz_test.go
  pkg/util/cleanup_job_fuzz_test.go
  pkg/util/duration_fuzz_test.go
  pkg/util/object_transform_fuzz_test.go
Due: none

refactor: replace direct config retrieval with injectable function for testing
  cmd/leader_election_fuzz_test.go
  cmd/main.go
  cmd/main_test.go
Due: none

test: mock getConfig function in multiple tests for consistent behavior
  cmd/main_test.go
Due: none

Initial implementation
  Dockerfile.webhook
  Makefile
  README.md
  WEBHOOK_IMPLEMENTATION.md
  cmd/webhook/main.go
  docs/webhook.md
  examples/leasecontroller-with-webhook.yaml
  object-lease-operator/config/manager/webhook-certificate.yaml
  object-lease-operator/config/manager/webhook-deployment.yaml
  object-lease-operator/config/manager/webhook-service.yaml
  object-lease-operator/config/rbac/webhook_role.yaml
  object-lease-operator/config/rbac/webhook_role_binding.yaml
  object-lease-operator/config/rbac/webhook_serviceaccount.yaml
  pkg/webhook/config_manager.go
  pkg/webhook/validator.go
Due: codespell

feat: add build and push workflow for webhook image
  .github/workflows/release.yml
Due: none

feat: add build and run targets for webhook binary
  Makefile
Due: none

feat: add insecure mode for webhook server to facilitate local testing
  Makefile
  cmd/webhook/main.go
Due: none

feat: install OpenShift CLI in Dockerfile and post-install script
  .devcontainer/Dockerfile
  .devcontainer/post-install.sh
Due: shellcheck

feat: add webhook configuration for LeaseController CRD validation
  object-lease-operator/config/crd/bases/object-lease-controller.ullberg.io_leasecontrollers.yaml
  object-lease-operator/helm-charts/leasecontroller/values.yaml
Due: none

feat: update webhook certificate management to use OLM/service-ca-operator
  WEBHOOK_IMPLEMENTATION.md
  docs/webhook.md
  object-lease-operator/config/manager/webhook-certificate.yaml
  object-lease-operator/config/manager/webhook-deployment.yaml
  object-lease-operator/config/manager/webhook-service.yaml
Due: codespell

Update funding information in FUNDING.yml
  .github/FUNDING.yml
Due: none

Comment out buy_me_a_coffee funding option
  .github/FUNDING.yml
Due: none

feat(ci): pin digests using renovate
  .github/renovate.json5
Due: none

feat(docker): add pre-commit and gitleaks installation to Dockerfile
  .devcontainer/Dockerfile
Due: none

feat(ci): add Codacy security scan workflow and update .gitignore for VSCode AI rules
  .github/workflows/codacy.yml
  .gitignore
Due: none

fix(.gitignore): correct path separator for Codacy instructions
  .gitignore
Due: none

feat(docker): add codespell and shellcheck to Dockerfile and post-install script
  .devcontainer/Dockerfile
  .devcontainer/post-install.sh
Due: shellcheck

feat(types): enhance React type definitions and improve module exports for better type safety
  object-lease-console-plugin/src/components/LeasesPage.tsx
  object-lease-console-plugin/src/types/shims.d.ts
Due: codespell

feat(ci): add coverage upload step to Codacy in test workflow
  .github/workflows/test-controller.yml
Due: none

feat(devcontainer): add Node.js and npm to Dockerfile and post-install script
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
  .devcontainer/post-install.sh
  .gitignore
  object-lease-console-plugin/.gitignore
Due: shellcheck, codespell

refactor(LeasesPage): simplify annotation handling and remove unused types
  object-lease-console-plugin/src/components/LeasesPage.tsx
  object-lease-console-plugin/src/types/shims.d.ts
Due: codespell

feat(ci): Add Codacy (#65)
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
  .devcontainer/post-install.sh
  .github/renovate.json5
  .github/workflows/codacy.yml
  .github/workflows/test-controller.yml
  .gitignore
  object-lease-console-plugin/.gitignore
Due: shellcheck, codespell

Initial implementation
  .devcontainer/Dockerfile
  .devcontainer/post-install.sh
  .github/workflows/release.yml
  Dockerfile.webhook
  Makefile
  README.md
  WEBHOOK_IMPLEMENTATION.md
  cmd/webhook/main.go
  cmd/webhook/main_test.go
  docs/webhook.md
  examples/leasecontroller-with-webhook.yaml
  object-lease-operator/config/crd/bases/object-lease-controller.ullberg.io_leasecontrollers.yaml
  object-lease-operator/config/manager/webhook-deployment.yaml
  object-lease-operator/config/manager/webhook-service.yaml
  object-lease-operator/config/rbac/webhook_role.yaml
  object-lease-operator/config/rbac/webhook_role_binding.yaml
  object-lease-operator/config/rbac/webhook_serviceaccount.yaml
  object-lease-operator/helm-charts/leasecontroller/values.yaml
  pkg/webhook/config_manager.go
  pkg/webhook/config_manager_test.go
  pkg/webhook/validator.go
  pkg/webhook/validator_test.go
Due: shellcheck, codespell

Add category to Codacy SARIF upload step
  .github/workflows/codacy.yml
Due: none

Disable SARIF file upload in Codacy workflow
  .github/workflows/codacy.yml
Due: none

chore: Update Go version to 1.25 in Dockerfile and go.mod
  Dockerfile.webhook
  go.mod
Due: none

feat(docker): update Go version to 1.26 in Dockerfile
  Dockerfile
Due: none

feat: update Go version to 1.26 in Dockerfile and go.mod
  .devcontainer/Dockerfile
  go.mod
Due: none

chore: remove unused dependencies and update go.mod and go.sum
  go.mod
  go.sum
Due: none

chore: update golangci-lint version in lint workflow
  .github/workflows/lint.yml
Due: none
